:root {
    --font-default:'Inter', sans-serif;
    --text-color: #000000;
    --main-color: #B81515;
}

.condicoes-pagamento {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 32px;
    text-align: start;
    align-items: center;
}

.condicoes-pagamento h1 {
    display: flex;
    margin: 0 auto;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}

.condicoes-pagamento h1::after {
    content: "";
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.parcelamento {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    max-width: 1000px;
    margin-top: 10px;
}

.parcelamento h2 {
    font-size: 2rem;
    font-weight: 600;
    max-width: 100%;
    margin-right: 50px;
    margin-bottom: 20px;
}

.parcelamento p {
    font-size: 1rem;
    font-weight: 300;
    max-width: 100%;
    margin-right: 20px;
}

.parcelamento-imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas para as duas imagens */
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.parcelamento-imagens img {
    max-width: 100%;
    height: auto;
}


.parcelamento-imagens img:nth-child(3) {
    grid-column: span 2; /* A terceira imagem ocupará as duas colunas */
}


